body{
    margin: 0;
    background-image: url(http://getwallpapers.com/wallpaper/full/c/0/f/58476.jpg);
    
}

#header{
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
}

#logo{
    height: 60px;
}

#accountBox{
    width: 164.38px;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    gap: 10px;
}


#contentQuiz{
    box-sizing: border-box;
    width: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 100px;
}

.items{
    box-sizing: border-box;
    width: 70%;
    height: 300px;
    margin: auto;
    box-sizing: border-box;
    

}

.quizHeader{
    background-color:#ffffff;
    height: 60px;
    width: 100%;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 2px solid black;
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-sizing: border-box;
    word-wrap: break-word;
    font-family: 'FF Mark W05', sans-serif;
    font-weight: 500;
}

.options{
    width: 100%;
    word-wrap: break-word;
    border-bottom: 3px solid black;
}

.choices{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 2px;
    background-color: #e6e6e6;
    border: 1px solid white;
}

.choices:hover{
    background-color: gray;
}

#countdown{
    border: 2px solid darkred;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:darkred;
    color: white;
}

#timer{
    font-size: 45px;
    font-family: 'FF Mark W05', sans-serif;
}

#btnSubmit{
    margin: auto;
    height: 40px;
    width: 100px;
    background-color: darkred;
    font-size: large;
    color: white;
    border: 0;
}

#message{
    display: none;
    width: 300px;
    height: 300px;
    background-color: white;
    margin: auto;
    
}