body{
    margin: 0;
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
}

#header{
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 1;
}

#logo{
    height: 60px;
}

#accountBox{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    gap: 10px;
}

#btnSignUp{
    border: 1px solid rgb(167, 7, 7);;
    border-radius: 10px;
    background-color: rgb(167, 7, 7);
    color: rgb(255, 255, 255);
    height: 30px;
    width: 80px;
}

#btnLogin{
    border: 1px solid rgb(167, 7, 7);;
    border-radius: 10px;
    background-color: rgb(167, 7, 7);
    color: rgb(255, 255, 255);
    height: 30px;
    width: 80px;
}

#content{
    width: 100%;
    height: 744px;
    padding-top: 60px;
}

#introBox{
    height: 744px;
    width: 6000px;
    position: relative;
    transition: all;
}
.intro{
    width: 1190px;
    height: 744px;
}

.imgIntro{
    width: 1190px;
}

#footer{
    width: 100%;
    height: 150px;
    background-color: rgb(0, 0, 0);
    display: flex;
}

#fb{
    height: 30px;
    margin-left: 20px;
}

#insta{
    height: 30px;
    margin-left: 10px;
}
.stuff:hover img{
    transform: scale(1.1);
}
.inner{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
#haha{
    margin: 10px;
    display: flex;
    align-items: center;
}

#about{
    height: 150px;
    display: inline;
    display: flex;
    align-items: center;
}