body{
    margin: 0;
    background-image: url(http://getwallpapers.com/wallpaper/full/4/4/9/442793.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#header{
    width: 100%;
    height: 60px;
    background-color: rgb(15, 15, 15);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#logo{
    height: 60px;
}

#accountBox{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    gap: 10px;
}

#btnSignUp{
    border: 1px solid darkred;
    border-radius: 50px;
    background-color: black;
    color: darkred;
    height: 30px;
    width: 80px;
}

#btnLogin{
    border: 1px solid darkred;
    border-radius: 50px;
    background-color: black;
    color: darkred;
    height: 30px;
    width: 80px;
}

#footer{
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
}

#fb{
    height: 40px;
}

#insta{
    height: 60px;
}